.about-us-content {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    
}

.me {
   
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 30px;
   
}



.text-about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head_name_me {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head_name_me span{
    font-size: 40px;
    color: rgb(132, 152, 255);
}


.image-me {
   
    border-radius: 2%;
    width: 450px;
    height: 400px;

}

.my-text {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.head_name_me p{
    
    color:rgb(191, 241, 236);
    font-size: 17px;
}

.short_description {
    font-size: 16px;
    margin-bottom: 30px;
    
}

.coding-exp {
    color: white;
    font-size: 13px;
    margin-bottom: 20px;
}

.more-of-me {
    color: white;
}