.home_content {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100vh;
    color: white;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    
    
}

.welcome_top {
    background-color: rgb(2, 22, 49);
    width: 100%;
    height: 60px;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
}

.welcome_top {
    display: flex;
    justify-content: center;
}

.welcome_top h1{
    margin-bottom: 10px;
    font-size: 30px;
    text-decoration: underline;
    margin-right: 10px;
    
    }

.welcome_top p{
    font-size: 20px;
      
}

.here {
    text-decoration: underline;
}

.home_info {
   padding: 20px;
   display: flex;
   flex-direction: column;
   
 
}

.home_info h1 {
    font-size: 30px;
    margin-bottom: 15px;
    color: rgb(170, 183, 247);
}

.description {
    margin-bottom: 20px;
}

.explanation {
    margin-bottom: 10px;
}

.img-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 37px;
}

.home_info img {
    width: 600px;
   
}

.pointsofview {
    display: flex;
    flex-direction: row;
    
    margin-top: 5px;
}

.pointsofview img {
    margin-left: 0;
}

.drugviewPO {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drugviewPO p {
    margin-bottom: 20px;
}

.targetviewPO {
    display: flex;
    flex-direction: column;
    
    margin-left: 20px;
}


.targetviewPO p {
    margin-bottom: 20px;
}

.results {
    margin-top: 25px;
    color:rgb(191, 241, 236);
    font-size: 30px;
    text-align: center;
}
.pointsofview h3 {
    color:rgb(191, 241, 236);
    font-size: 20px;

}

.example {
    width: 500px;
    height: 550px;
    margin-bottom: 20px;
}

.results {
    margin-top: 25px;
    margin-bottom: 20px;
}

.dataset_example_home {
    display: flex;
    flex-direction: row;
}
