
  
  .content {
    box-sizing: border-box;
  
    margin-top: 80px;
    padding: 0px /* Ajusta el padding-top según el tamaño de tu encabezado */
  }
  
  .visualization-container {
    display: flex;
    margin-right: 10px;
    justify-content: space-between;
  }
  
 

  .disease-selector {
    margin-left: 15px;
    border: 1px solid #959494; 
    border-bottom: 0px;
    border-radius: 7px;
    background-color: #555555;
    padding: 4px;
  }

  .chart-container {
    
    padding: 5px;
    border: 1px solid #959494; 
    border-radius: 7px;
    background-color: #555555;
    margin-bottom: 8px;
  }
  
  .barchart-container {
    display: flex;
    flex-direction: column;
    
  }
  
  .dropdown-title {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
  }
  
  .heatmap-container {
    margin-right: 8px; /* Espacio entre heatmap y gráfico */
    
  }
  
  
  
  
  h3  {
    text-align: center;
    color: white;
  }
  
  
  
  .dropdown_drug, .dropdown_circuit {
    color: white;
    margin-right: 10px;
    font-size: 13px;
  }
  
  .dropdown_label {
    text-align: center;
    width:max-content;
   font-size: 13px;
    
  }
  
  .App-footer {
    font-family: 'Della Respira', sans-serif;
    color: white;
    top: 100%;
  }

  .heatmap-container {
    height: fit-content;
    margin-left: 15px;
  }

  .stability-container {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .stability-container h3 {
    height: max-content;
    width: max-content;
  }
  
  .disease-selector {
    width: fit-content;
  }